//Profile config names for nf-core/configs

profiles {
    tinaroo {
      params{
        config_profile_description = 'QRIS Cloud Tinaroo HPC profile provided by nf-core/configs'
        config_profile_contact = 'Ido Bar (@idobar)'
        config_profile_url = 'https://rcc.uq.edu.au/tinaroo'
        max_memory = 16.GB
        max_cpus = 4
        max_time = 10.h
      }
      process {
        executor = 'pbspro'
        scratch = true
        maxRetries = 4
        beforeScript = "export NXF_OPTS='-Xms1g -Xmx4g -Dhttps.protocols=TLSv1,TLSv1.1,TLSv1.2,TLSv1.3'; module load singularity/3.5.0"
        // clusterOptions = '-q Special -A qris-gu'
			
        }	
      
   }
   singularity {
        enabled = true
        cacheDir = "$HOME/.singularity/cache"
        autoMounts = true
    }
    conda {
        enabled = true
        cacheDir = "$HOME/.conda/cache"
    }
}

